

.form-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.title-form {
    font-size: 25px;
    font-weight: bold;
    border-bottom: 2px dashed black;
}

.box-form {
    height: auto;
    width: 300px;
}

.box-form form div label {
    margin-right: 10px;
    font-weight: bold;
    font-size: 15px;
}


.box-form form div {
    margin: 5px 0;
}

.box-form form div input {
    display: block;
    width: 100%;
    height: 30px;
    outline: none;
    font-size: 15px;
}

.box-form form div ol li {
    margin-bottom: 5px;
}

.box-form form div ol {
    position: relative;
    padding-bottom: 20px;
}

.box-form form div ol span {
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: pointer;
}

.fa-square-plus {
    margin-right: 5px;
}

input[type = "submit"] {
    font-size: 15px;
    font-weight: bold;
    display: flex;
    justify-self: center;
    background-color: goldenrod;
    border-radius: 5px;
}


input[type="file"] {
   background-color: aquamarine;
}

