/* @import url('https://fonts.googleapis.com/css2?family=Ancizar+Serif:ital,wght@0,300..900;1,300..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap'); */

.container {
    /* margin-top: 8%; */
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    /* align-items: center; */
    gap: 45px;
    width: 100%;
    height: 100%;
}

.container .img img {
    max-width: 350px;
    max-height: 300px;
    border-radius: 45px;
}

.container .img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-pen:hover{
    color: red;
    cursor: pointer;
}



div.btn button:hover {
    background-color: palevioletred;
}

div.btn button:active{
    transform: scale(0.96);
}


.info div:first-child p:first-child {
    font-family: "Kanit", sans-serif;
    font-weight: 700;
}


.info div:first-child p:nth-child(2) {
    font-family: "Caveat", cursive;
    font-weight: 900;
    font-size: larger;

}

.info div:first-child {
    font-size: 55px;
    color: black;
    text-shadow: 7px 7px 5px rgba(0, 255, 0, 0.3) , 1px 1px 3px #FFFF00;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.info div:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 17px;
    font-weight: bold;
}

.info div:nth-child(2) p{
        margin-left: 30px;
        font-size: 17px;
        color: skyblue;
}

.info div:nth-child(2) p span{
        color: black;
}

.info div:nth-child(2)  p:nth-child(2) i{
            margin-left: 5px;
}

.info div:nth-child(2)  p:nth-child(3) i{
            margin-left: 5px;
}

.info div:nth-child(2) p:nth-child(4) i.fa-pen{
            margin-left: 5px;
}

div.btn{
    text-align: center;
    margin-top: 15px;
}

div.btn button{
        border-radius: 15px;
        padding: 10px;
        font-weight: bold;
        font-size: 1rem;
        background-color: pink;
        color: black;
    }