.front-end p {
    font-size: 20px;
    font-weight: bold;
    border-bottom: 2px solid black;
}

.back-end p {
    font-size: 20px;
    font-weight: bold;  
    border-bottom: 2px solid black;
}

.knowledge-container {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.front-end ol li , .back-end ol li {
    line-height: 2;
}

/* .front-end , .back-end {
    border-right: 2px solid gray;
} */

button {
    padding: 5px 10px 5px 10px;
    font-weight: bold;
    background-color: greenyellow;
    border: 1px solid black;
}

button:active {
    transform: scale(0.95);
}



/* ส่วนของการแสดงผลหน้าจอต่าง ๆ */

@media (max-width:576px) {
    .Font-Back-Container {
        display: flex;
        flex-direction: column;
    }

    .back-end {
        margin-top: 10px;
        margin-bottom: 30px;
    }

    .front-end p {
        text-align: center;
    }

    .back-end p {
        text-align: center;
    }

}

@media (min-width:577px) and (max-width:594px){
    .Font-Back-Container {
        display: flex;
        flex-direction: column;
    }

    .back-end {
        margin-top: 10px;
        margin-bottom: 30px;
    }

    .front-end p {
        text-align: center;
    }

    .back-end p {
        text-align: center;
    }

}

@media (min-width:595px) and (max-width:775px){
    .Font-Back-Container {
        display: flex;
        flex-direction: column;
    }

    .back-end {
        margin-top: 10px;
        margin-bottom: 30px;
    }

    .front-end p {
        text-align: center;
    }

    .back-end p {
        text-align: center;
    }

}

@media (min-width:776px) and (max-width:948px){
    .Font-Back-Container {
        display: flex;
        flex-direction: column;
    }

    .back-end {
        margin-top: 10px;
        margin-bottom: 30px;
    }

    .front-end p {
        text-align: center;
    }

    .back-end p {
        text-align: center;
    }

    .Font-Back-Container p {
        font-size: 27px;
    }

    .Font-Back-Container ul li {
        font-size: 20px;
    }

    .Font-Back-Container div button {
        font-size: 18px;
    }
}

@media (min-width:949px) and (max-width:1089px){
    .Font-Back-Container {
        display: flex;
        flex-direction: column;
    }

    .back-end {
        margin-top: 10px;
        margin-bottom: 30px;
    }

    .front-end p {
        text-align: center;
    }

    .back-end p {
        text-align: center;
    }

    .Font-Back-Container p {
        font-size: 27px;
    }

    .Font-Back-Container ul li {
        font-size: 20px;
    }

    .Font-Back-Container div button {
        font-size: 19px;
    }
}


@media (min-width:1090px) and (max-width:1200px){
    .front-end p {
        text-align: center;
    }

    .back-end p {
        text-align: center;
    }

    .Font-Back-Container p {
        font-size: 29px;
    }

    .Font-Back-Container ul li {
        font-size: 22px;
    }

    .Font-Back-Container div button {
        font-size: 20px;
    }

}


