
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12%;
    background-color: rgba(20,20,20,1);
    box-shadow: 0px 15px 20px 3px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.nav-toggle{
    display: none;
    border-radius: 15px;
    margin-left: 10px;
    background-color: orange;

    .fa-bars{
        font-size: 40px;
        width:45px;
        height: 45px;
        padding: 5px;
        color: white;     
    }
}

.nav-toggle:hover{
    background-color: yellow;

    .fa-bars{
        color: black;
    }

}

.nav-link {
    display: flex;
    /* flex-wrap: wrap; */
    gap: 25px;
    justify-content: space-around;
    margin-left: 25px;
    z-index: 1;
}

.nav-link span {
    margin-left: 5px;
}

.nav-login {
    margin-right: 25px;
    display: flex;
    z-index: 1;
}

.nav-login span {
    margin-left: 5px;
}

.nav-link  a {
    color:white;
    text-decoration: none;
    background-color: orange;
    display: flex;
    justify-content: center; /* จัดตรงกลางแนวนอน */
    align-items: center; /* จัดตรงกลางแนวตั้ง */
    max-width: 100%;
    max-height: 100%;
    border-radius: 50px;
    padding: 10px 15px;
}



.nav-link a:hover {
    background-color: yellow;
    color: black;
}

.nav-link a.important{
    background-color: yellow;
    color: black;
}

.nav-login a {
    color: white;
    text-decoration: none;
    background-color: orange;
    display: flex;
    justify-content: center; /* จัดตรงกลางแนวนอน */
    align-items: center; /* จัดตรงกลางแนวตั้ง */
    width: 100%;
    height: 100%;
    border-radius: 50px;
    padding: 10px 15px;
}

.nav-login a:hover {
    background-color: greenyellow;
    color: black;
}




/* display: inline-block; */
/* text-align: center; จัดข้อความตรงกลางแนวนอน */
/* line-height:50px;  จัดข้อความตรงกลางแนวตั้ง */